/* Efecto para la cards circular de inicio */

.circle {
  border: 2px solid black;
  width: 100%;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 100%;
}
.div-options {
  position: relative;
  width: 230px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.cards,
.img-options {
  width: 100%;
  max-width: 230px;
  min-width: 200px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6), 0 4px 6px rgba(0, 0, 0, 0.4);
  transition: transform 0.8s, border-radius 0.8s;
  border: 3px solid #c3c6ce;
}
.cards:hover,
.img-options:hover {
  transform: scale(1.03);
  border-radius: 10px;
}
.text {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-size: 25px;
  color: #454545b9;
  transition: transform 0.3s ease, color 0.3s ease;
}
/* Efecto del título al pasar sobre la imagen */
.img-options:hover ~ .text {
  color: #222324;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.img-options:hover + .overlay-text {
  opacity: 1;
  transform: translateY(0);
}
.img-options:hover {
  transform: translateY(16px);
  color: #222324;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
/* Texto overlay que aparece sobre la imagen */
.overlay-text {
  position: absolute;
  bottom: 55px;
  left: 4px;
  width: 223px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.div-options {
  width: 230px;
  height: auto;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

/* Nuevo cards*/
.cards1 {
  position: relative;
  width: 100%;
  height: 230px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cards1 svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cards1:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.card__contents1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards1:hover .card__contents1 {
  transform: rotateX(0deg);
}

.card__titles1 {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.cards1:hover svg {
  scale: 0;
}

.card__descriptions1 {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

/* Clases para cards de recetas*/
/* From Uiverse.io by durvish2010 */ 
.cardR {
  position: relative;
  width: 100%;
  max-width: 320px;
  height: 300px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 0 auto;
}

.cardR svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cardR:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__contentR {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardR:hover .card__contentR {
  transform: rotateX(0deg);
}

.card__titleR {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.cardR:hover svg {
  scale: 0;
}

.card__descriptionR {
  margin: 10px 0 0;
  font-size: 14px;
  color: black;
  line-height: 1.4;
}